body {
	display: flex;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	background: linear-gradient(154);
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.loader-group {
	display: block;
	width: 50vw;
}

/* code for first bottle */

.sauce_bottle {
	display: block;
	width: 50px;
	animation: bottle 2s linear forwards;
}

.sauce-bottle svg {
	width: 25px;
	height: 68.5px;
	background: transparent;
	transform: translate(12px, 12px) rotate(0deg);
}
.sauce-bottle svg path {
	fill: rgb(244, 188, 66);
}


/* code for second bottle */
.sauce_bottletwo {
	display: block;
	width: 50px;
	animation: bottletwo 2s linear forwards;
}

.sauce-bottletwo svg {
	width: 25px;
	height: 68.5px;
	background: transparent;
	transform: translate(12px, 12px) rotate(0deg);
}
.sauce-bottletwo svg path {
	fill: rgb(244, 188, 66);
}

/* code for third bottle */

.sauce_bottlethree {
	display: block;
	width: 50px;
	animation: bottlethree 2s linear forwards;
}

.sauce-bottlethree svg {
	width: 25px;
	height: 68.5px;
	background: transparent;
	transform: translate(12px, 12px) rotate(0deg);
}
.sauce-bottlethree svg path {
	fill: rgb(244, 188, 66);
}

/* code for fourth bottle */

.sauce_bottlefour {
	display: block;
	width: 50px;
	animation: bottletfour 2s linear forwards;
}

.sauce-bottlefour svg {
	width: 25px;
	height: 68.5px;
	background: transparent;
	transform: translate(12px, 12px) rotate(0deg);
}
.sauce-bottlefour svg path {
	fill: rgb(244, 188, 66);
}

/* code for fifth bottle */

.sauce_bottlefive {
	display: block;
	width: 50px;
	animation: bottletfive 2s linear forwards;
}

.sauce-bottlefive svg {
	width: 25px;
	height: 68.5px;
	background: transparent;
	transform: translate(12px, 12px) rotate(0deg);
}
.sauce-bottlefive svg path {
	fill: rgb(244, 188, 66);
}

 /* 5 lines code  */
.sauce-line1 {
	display: block;
	width: 78%;
	height: 25px;
	background: rgb(231, 30, 30);
	border-radius: 2px;
	transform-origin: left;
	transform: scaleX(0);
	animation: mustard 2s linear forwards;

}

.new-class{
    width:100%;
}

.new-class-two{
    width:100%;
}

.new-class-three{
    width:100%;
}
.new-class-four{
    width:100%;
}

.new-class-five{
    width:100%;
}

.sauce-line2 {
	display: block;
	width: 100%;
	height: 25px;
	background: rgb(163, 173, 17);
	border-radius: 2px;
	transform-origin: left;
	transform: scaleX(0);
	animation: mustard 2s linear forwards; }

.sauce-line3 {
	display: block;
	width: 47%;
	height: 25px;
	background: rgb(69, 14, 90);
	border-radius: 2px;
	transform-origin: left;
	transform: scaleX(0);
	animation: mustard 2s linear forwards; }

.sauce-line4 {
	display: block;
	width: 23%;
	height: 25px;
	background: rgb(35, 22, 204);
	border-radius: 2px;
	transform-origin: left;
	transform: scaleX(0);
	animation: mustard 2s linear forwards; }

.sauce-line5 {
	display: block;
	width: 94%;
	height: 25px;
	background: rgb(57, 94, 10);
	border-radius: 2px;
	transform-origin: left;
	transform: scaleX(0);
	animation: mustard 2s linear forwards; }

@keyframes mustard {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes bottle {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(50vw);
	}
}


/* editing */
@keyframes bottletwo {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(50vw);
	}
}


@keyframes bottlethree {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(20vw);
	}
}



@keyframes bottletfour {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(8.5vw);
	}
}

@keyframes bottletfive {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(44vw);
	}
}

/* ending */
.counter1 {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: rgb(231, 30, 30);
	width: 100%;
	height: 20px;
    font-weight: bold;

}

.counter2 {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: rgb(163, 173, 17);
	width: 100%;
	height: 20px;
    font-weight: bold;

}

.counter3 {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: rgb(69, 14, 90);
	width: 100%;
	height: 20px;
    font-weight: bold;

}

.counter4 {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: rgb(35, 22, 204);
	width: 100%;
	height: 20px;
    font-weight: bold;

}


.counter5 {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	color: rgb(57, 94, 10);
	width: 100%;
	height: 20px;
    font-weight: bold;

}
 
.container {
            background-color: rgb(192, 192, 192);
            width: 100%;
                border-radius: 15px;
        }


#inner1 {
   float:left; 
}

#inner2{
   float:left; 
   clear: left;
}
